@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
@import 'base/typography';

.title {
  @extend %section-title;
}
.icons {
  @extend %elements-row;
  mat-icon {
    height: var(--icon-size);
    width: var(--icon-size);
    font-size: var(--icon-size);
  }

  & > mat-icon.theme-primary {
    color: var(--theme-primary);
  }
  & > mat-icon.theme-primary-light {
    color: var(--theme-primary);
    filter: brightness(150%);
  }
  & > mat-icon.theme-primary-dark {
    color: var(--theme-primary);
    filter: brightness(50%);
  }
  & > mat-icon.theme-secondary {
    color: var(--theme-secondary);
  }
  & > mat-icon.theme-secondary-light {
    color: var(--theme-secondary);
    filter: brightness(150%);
  }
  & > mat-icon.theme-secondary-dark {
    color: var(--theme-secondary);
    filter: brightness(50%);
  }
}
