<div class="buttons">
  <div class="title"><span>Buttons</span></div>
  <div class="basic" fxLayout="row" fxLayoutAlign="space-between ">
    <button mat-button class="theme-primary">Primary</button>
    <button mat-button class="theme-primary-light">Primary Light</button>
    <button mat-button class="theme-primary-dark">Primary Dark</button>
    <button mat-button class="theme-secondary">Secondary</button>
    <button mat-button class="theme-secondary-light">Secondary Light</button>
    <button mat-button class="theme-secondary-dark">Secondary Dark</button>
  </div>
  <div class="raised" fxLayout="row" fxLayoutAlign="space-between ">
    <button mat-raised-button class="theme-primary">Primary</button>
    <button mat-raised-button class="theme-primary-light">Primary Light</button>
    <button mat-raised-button class="theme-primary-dark">Primary Dark</button>
    <button mat-raised-button class="theme-secondary">Secondary</button>
    <button mat-raised-button class="theme-secondary-light">
      Secondary Light
    </button>
    <button mat-raised-button class="theme-secondary-dark">
      Secondary Dark
    </button>
  </div>
  <div class="stroked" fxLayout="row" fxLayoutAlign="space-between ">
    <button mat-stroked-button class="theme-primary">Primary</button>
    <button mat-stroked-button class="theme-primary-light">
      Primary Light
    </button>
    <button mat-stroked-button class="theme-primary-dark">Primary Dark</button>
    <button mat-stroked-button class="theme-secondary">Secondary</button>
    <button mat-stroked-button class="theme-secondary-light">
      Secondary Light
    </button>
    <button mat-stroked-button class="theme-secondary-dark">
      Secondary Dark
    </button>
  </div>
</div>
