<div class="buttons">
  <div class="title"><span>Buttons</span></div>
  <div class="basic" fxLayout="row" fxLayoutAlign="space-between ">
    <button mat-button>Primary</button>
    <button mat-button>Primary-light</button>
    <button mat-button>Primary-dark</button>
    <button mat-button>Secondary</button>
    <button mat-button>Secondary-light</button>
    <button mat-button>Secondary-dark</button>
  </div>
  <div class="raised" fxLayout="row" fxLayoutAlign="space-between ">
    <button mat-raised-button>Primary</button>
    <button mat-raised-button>Primary-light</button>
    <button mat-raised-button>Primary-dark</button>
    <button mat-raised-button>Secondary</button>
    <button mat-raised-button>Secondary-light</button>
    <button mat-raised-button>Secondary-dark</button>
  </div>
  <div class="stroked" fxLayout="row" fxLayoutAlign="space-between ">
    <button mat-stroked-button>Primary</button>
    <button mat-stroked-button>Primary-light</button>
    <button mat-stroked-button>Primary-dark</button>
    <button mat-stroked-button>Secondary</button>
    <button mat-stroked-button>Secondary-light</button>
    <button mat-stroked-button>Secondary-dark</button>
  </div>
</div>
