<div fxLayout="row" fxLayoutAlign="space-around " class="footer">
  <div fXLayout="column">
    <span>Primary Color</span>
    <input
      [(colorPicker)]="primaryColor"
      [style.background]="primaryColor"
      (colorPickerChange)="changePrimaryColor($event)"
    />
  </div>
  <div fXLayout="column">
    <span>Font Color</span>
    <input
      [(colorPicker)]="secondaryColor"
      [style.background]="secondaryColor"
      (colorPickerChange)="changeSecondaryColor($event)"
    />
  </div>
</div>
