<div fxLayout="row" fxLayoutAlign="space-around ">
  <div fXLayout="column">
    <span>Primary Color</span>
    <input
      [(colorPicker)]="primaryColor"
      [style.background]="primaryColor"
      (colorPickerChange)="changePrimaryColor($event)"
    />
  </div>
  <div fXLayout="column">
    <span>Secondary Color</span>
    <input
      [(colorPicker)]="secondaryColor"
      [style.background]="secondaryColor"
      (colorPickerChange)="changeSecondaryColor($event)"
    />
  </div>
  <div fXLayout="column">
    <span>Icon Size</span>
    <input
      type="number"
      (change)="changeIconSize($event)"
      [value]="iconSize"
      min="16"
      max="200"
    />
  </div>
</div>
